<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CONTA</title>
</head>
<body>
  <h1>aqui faz uma conta</h1>
  <p>div == divição</p>
  <form action="http://127.0.0.1:5000/conta/div" method="post">
    <p><input type="number" name="primeiro-numero"/>Primeiro numero</p>
    <p><input type="number" name="segundo-numero"/>Segundo numero</p>
    <p><input type="submit" name="enviar"/>enviar</p>
    <h3><p> O resultado da conta é {{resultado}} </p></h3>
  </form>
</body>
</html>